<h1>Start Trashing Your Friends: <i class="fas fa-trash-alt"></i></h1>

<% if @user.errors.any? %>
<ul>
  <% @user.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
</ul>
<% end %>

<%= render "user_form" %>
