<h1><%= @user.username %></h1>

<h2><%= @user.name %></h2>

<%= button_to "Delete your account", @user, method: :delete, data: {confirm: "Are you sure?"} %>
<%# we will need to find a way to make this accessible only to the signed-in user %>
