/* body {
  font-family: 'Varela Round', sans-serif;
} */

.nav {
  background-color: #FFCC43;
}

.nav-item {
  margin-right: 10px;
}

#nav-button {
  background-color: #FFCC43;
  color: #343a40;
  border: 1px solid #CCA336;
}

#nav-button:hover {
  background-color: #343a40;
  color: white;
}

#q {
  width: 200px;
}

.side-button {
  margin-top: 15px;
}

.side-button .btn {
  background-color: white;
  color: #343a40;
  border: 1px solid #D1CFC8;
}

.side-button .btn:hover {
  background-color: #343a40;
  color: white;
}

.sidebar {
  position: fixed;
}

.blank {

}

.search-bar {
  padding: .5rem 1rem;
}

/* Dropdown Button */
.dropbtn {
  /* background-color: #4CAF50; */
  /* color: white;
  padding: 16px;
  font-size: 16px;
  border: none; */
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  width: 100%;
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  width: 100%;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

.insult-box {
  /* border: 1px solid gray; */
  margin-top: 15px;
  border-radius: 15px;
  padding: 15px;
  background-color: #FAF7EF;
  color: #343a40;
}

.insult-box a:not(#delete-insult-button) {
  color: #4CAF50;
}

#delete-insult-button {
  border: 1px solid #D1CFC8;
}

#delete-insult-button i {
  margin-right: 5px;
}

#delete-insult-button:hover {
  background-color: #343a40;
  color: white;
}

.insult-box span b{
  font-size: 1.5rem;
}

.insult-box span {
  font-size: 1.25rem;
}

.navbar-brand{
  font-size: 30px;
  justify-content: center;
}

.login{
  padding: 50px;
}

/* group page */
.show_heading {
  margin-top: 15px;
  border-radius: 15px;
  padding: 15px;
  background-color: #FAF7EF;
  color: #343a40;
}

.show_heading span b {
  font-size: 2.25rem;
  font-weight: bold;
  margin-right: 20px;
}

.show_heading span i {
  margin-right: 20px;
}

.show_heading span {
  font-size: 1.5rem;
  font-weight: normal;
}

.show_heading a {
  color: #4CAF50;
}

.side-search {
  margin-top: 15px;
}

.side-box {
  margin-top: 15px;
  border-radius: .25rem;
  padding: 15px;
  background-color: #FAF7EF;
  color: #343a40;
  min-width: 170px;
}

.side-box a {
  color: #4CAF50;
}

.side-box h5 {
  margin-bottom: 1rem;
}

.side-box p {
  margin-bottom: .5rem;
}

.side-button i {
  margin-right: 5px;
}

#group_form{
  margin-top: 15px;
}

.all_results{
margin-top: 25px;
margin-right: 450px;
margin-left: 200px;
}

.new_insult{
  margin-top: 15px;
}

.search-box {
  margin-top: 15px;
  border-radius: 15px;
  padding: 15px;
  background-color: #FAF7EF;
  color: #343a40;
}

.search-box a {
  color: #4CAF50;
}

.form-control{
  width: 350px;
}

.form-box {
  margin-top: 15px;
  border-radius: 15px;
  padding: 15px;
  background-color: #FAF7EF;
  color: #343a40;
}

.form-box span {
  font-size: 1.25rem;
}

.form-box span b {
  font-weight: normal;
  margin-right: 10px;
}
