<div class="col-1"></div>
<div class="col-6" id="group_form">
  <div class="show_heading">
    <span><b>Welcome!</b></span>
  </div>
  <div class="search-box">
    <p>Create a group using the New Group button on the left. Or, search for groups others have created using the search bar at the top.</p>
    <p>Once you've joined a group, it will show up in your groups menu, and you'll be able to trash other members of that group.</p>
    <p>If you think a friend belongs in a group, you can add them using the button on the group page.</p>
    <p>Leave a group at any time by using the Leave Group button on the group's page.</p>
  </div>
  <div class="show_heading">
    <span><b>Have fun!</b></span>
  </div>
</div>
