<h3>Search results for <%= @query %></h3>

<% @groups.each do |g| %>
  <%= link_to g.name, group_path(g) %>
<% end %>
<% @users.each do |u| %>
  <%= link_to "@#{u.name}", user_path(u) %>
<% end %>

<% if @groups.empty? && @users.empty? %>
  <h3>No results found</h3>
<% end %>
