<h3>Search Results For: <%= @query %></h3>
<div class="all_results col-8">
<% @groups.each do |g| %>
  <%= link_to g.name, group_path(g) %>
<% end %>

<% @users.each do |u| %>
  <%= link_to "@#{u.name}", user_path(u) %>
<% end %>


<% if @groups.empty? && @users.empty? %>
  <h3>Sorry! No results found</h3>
<% end %>
</div>
